<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workDetailMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>    	

	
	<insert id="addwd" >
	   insert into work_detail(
	   fid,
	   detailname,
	   content,
	   detailid
	   )values(
	   #{fid},
	   #{detailname},
	   #{content},
	   #{detailid}
	   )
	</insert>
	
	<select id ="findwdlist"  resultType="wd" useCache="false" flushCache="true">
	  select * from work_detail
	  where fid = #{fid}
	</select>
	
</mapper>