<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WXPublicNumConfigMapper">
	<!-- 列表查询 -->
	<select id="publicnumconfiglistPage" resultType="pd" parameterType="page" useCache="false">
		SELECT
			wc.id,
			wc.publicnum,
			wc.businesskey,
			wc.businessvalue
		FROM
			wxpublicnum_config wc
		WHERE 1=1
		<if test=" pd.publicnum != null and pd.publicnum != ''">
			and wc.publicnum = #{pd.publicnum}
		</if>
		<if test=" pd.businesskey != null and pd.businesskey != ''">
			and wc.businesskey = #{pd.businesskey}
		</if>
	</select>
	
	<!-- 查询所有 -->
	<select id="findAll" resultType="pd" useCache="false">
		SELECT
			wc.publicnum,
			wc.businesskey,
			wc.businessvalue
		FROM
			wxpublicnum_config wc
	</select>
	
	<!-- 修改公众号配置信息 -->
	<update id="updatePubileNumConfig" parameterType="pd">
		UPDATE 
			wxpublicnum_config wc
		SET
			wc.publicnum = #{publicnum},
			wc.businesskey = #{businesskey},
			wc.businessvalue = #{businessvalue}
		WHERE 1=1 
			AND	wc.id = #{id}
	</update>
	
	
	<!-- 新增公众号配置  -->
    <insert id="save" parameterType="pd">
	    insert into wxpublicnum_config
	    	(publicnum,
			businesskey,
			businessvalue)
	    values 
	    	(#{publicnum},
	    	 #{businesskey},
	    	 #{businessvalue})
    </insert>
    
    <delete id="delete" parameterType="pd">
    	DELETE FROM
    		wxpublicnum_config
    	WHERE 1=1
    		AND id = #{id}
    </delete>
    
</mapper>


