<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workFlowSheetMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>    	
	
	<select id="wfslistPage"    parameterType="page" resultType="pd"  useCache="false">
		select * from  workflow_sheet
        where 1=1
        <if test="pd.workflowname != null and pd.workflowname!= ''">
            and ( workflowname LIKE CONCAT(CONCAT('%', #{pd.workflowname}),'%') ) 
         </if>
         <if test="pd.sheetname != null and pd.sheetname != ''">
            and ( sheetname LIKE CONCAT(CONCAT('%', #{pd.sheetname}),'%') ) 
         </if>
	</select>
	
	<select id="findone"    resultType="wfs" useCache="false">
		select * from  workflow_sheet
        where id = #{id}
	</select>
	
	<select id="findsheetname"    resultType="wfs" useCache="false">
		select * from  workflow_sheet
        where sheetid = #{sheetid}
	</select>
	
	<insert  id="addwfs">
	  insert into workflow_sheet(
	   workflowid,
	   workflowname,
	   sheetid,
	   sheetname
	   )values(
	   #{workflowid},
	   #{workflowname},
	   #{sheetid},
	   #{sheetname}
	   )
	</insert>
	
	<update id="updatewfs" >
	   	update workflow_sheet set
	   	workflowid= #{workflowid},
	   	workflowname= #{workflowname},
	    sheetid= #{sheetid},
		sheetname= #{sheetname}
		where id = #{id}
	</update>
	
	<delete id="deletewfs"  flushCache="false">
		delete from workflow_sheet
		where 
			id = #{id}
	</delete>
	
</mapper>