<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RegionDeliveryManMapper">
	<!-- 快递员列表查询-页面  -->
	<select id="regionDeliveryManlistPage" resultType="pd" parameterType="page" useCache="false" >
            SELECT
	    	rdm.id,
	    	rdm.transitid,
	    	rdm.gps,
	    	rdm.remark,
	    	rdm.regionname,
	    	rdm.provid,
	    	(select name from area_prov ap where ap.id = rdm.provid) provDesc,
	    	rdm.cityid,
	    	(select name from area_city ac where ac.id = rdm.cityid) cityDesc
	     	FROM
			region_delivery_man rdm
		    where 1 = 1
		<if test="pd.provid != null and pd.provid != '' and pd.provid != '-1'">
           and rdm.provid = #{pd.provid}
        </if>
        <if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
           and rdm.cityid = #{pd.cityid}
        </if>
        <if test="pd.transitid != null and pd.transitid != '' and pd.transitid != '-1'">
           and rdm.transitid = #{pd.transitid}
        </if>
	</select>
	
		<!-- 快递员列表查询-页面  -->
	<select id="selcRegionDeliveryManlist" resultType="pd" parameterType="page" useCache="false" >
            SELECT
	    	rdm.id,
	    	rdm.transitid,
	    	rdm.gps,
	    	rdm.remark,
	    	rdm.regionname,
	    	rdm.provid,
	    	(select name from area_prov ap where ap.id = rdm.provid) provDesc,
	    	rdm.cityid,
	    	(select name from area_city ac where ac.id = rdm.cityid) cityDesc
	     	FROM
			region_delivery_man rdm
		    where 1 = 1
		<if test="loginperson_provid != null and loginperson_provid != '' ">
           and rdm.provid = #{loginperson_provid}
        </if>
        <if test="loginperson_cityid!= null and loginperson_cityid != '' ">
           and rdm.cityid = #{loginperson_cityid}
        </if>
	</select>
	
	<select id="regionDeliveryManList" resultType="pd" parameterType="pd" useCache="false" >
            SELECT
	    	rdm.id,
	    	rdm.transitid,
	    	rdm.gps,
	    	rdm.remark,
	    	rdm.regionname,
	    	rdm.provid,
	    	(select name from area_prov ap where ap.id = rdm.provid) provDesc,
	    	rdm.cityid,
	    	(select name from area_city ac where ac.id = rdm.cityid) cityDesc
	     	FROM
			region_delivery_man rdm,
			region_transit_center rtc
		    where 1 = 1 and rdm.transitid = rtc.id
		<if test="provid != null and provid != '' and provid != '-1'">
           and rdm.provid = #{provid}
        </if>
        <if test="cityid != null and cityid != '' and cityid != '-1'">
           and rdm.cityid = #{cityid}
        </if>
        <if test="transitid != null and transitid != '' and transitid != '-1'">
           and rtc.transitid = #{transitid}
        </if>
	</select>
	
	<!-- 查询所有快递员区域  -->
	<select id="findAllRegionDman" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	rdm.id,
	    	rdm.gps,
	    	rdm.remark,
	    	rdm.transitid,
	    	rdm.regionname regionname,
	    	rdm.provid,
	    	rdm.cityid,
	    	rdm.gps
		FROM
			region_delivery_man rdm
		where 1=1
		AND rdm.provid = #{loginperson_provid}
		AND rdm.cityid = #{loginperson_cityid}
	</select>
	
	<!-- 查询所有快递员  -->
	<select id="checkRegionDmanExist" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	rdm.id,
	    	rdm.deliverymanid,
	    	rdm.gps,
	    	rdm.remark
		FROM
			region_delivery_man rdm
		where 1=1
		<if test="deliverymanid != null and deliverymanid != '' and deliverymanid != '-1'">
           and rdm.deliverymanid = #{deliverymanid}
        </if>
	</select>
	
	<!-- 根据id查询取派员信息  -->
	<select id="findRegionDmanByid" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	rdm.id,
	    	rdm.regionname,
	    	rdm.provid,
	    	rdm.cityid,
	    	rdm.gps,
	    	rdm.remark
		FROM
			region_delivery_man rdm
		where 1=1
		<if test="id != null and id != ''">
           and rdm.id = #{id}
        </if>
	</select>
	
	<insert id="saveRegionDman" parameterType="pd">
	    <selectKey keyProperty="id" resultType="int">
			select
			LAST_INSERT_ID()
		</selectKey>
		insert into region_delivery_man (
            provid,
            cityid,
			regionname,
			gps,
			remark)
		values ( 
			#{provid},
			#{cityid},
			#{regionname},
			#{gps},
			#{remark})
			
	</insert>
	
	<update id="updateRegionDman" parameterType="pd">
		update 
			region_delivery_man 
		set
			regionname = #{regionname},
			gps = #{gps},
			remark = #{remark}
		where id = #{id}
	</update>
	
		<update id="updateDmanTransitId" parameterType="pd">
		update 
			region_delivery_man 
		set
			transitid = #{transitid}
		where id = #{id}
	</update>
	
	<update id="cleanDmanTransitId" parameterType="pd">
		update 
			region_delivery_man 
		set
			transitid = null
		where transitid = #{transitid}
	</update>
	
</mapper>