<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RegionCityMapper">
	<!-- 城市信息记录列表查询-页面  -->
	<select id="regionCtiyInfolistPage" resultType="pd" parameterType="page" useCache="false" >
	    SELECT
	    	rc.id,
	    	rc.provid,
	    	(select name from area_prov ap where ap.id = rc.provid) provDesc,
	    	rc.cityid,
	    	(select name from area_city ac where ac.id = rc.cityid) cityDesc,
	    	rc.gps,
	    	rc.remark
		FROM
			region_city rc
		where 1=1
		<if test="pd.provid != null and pd.provid != '' and pd.provid != '-1'">
           and rc.provid = #{pd.provid}
        </if>
        <if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
           and rc.cityid = #{pd.cityid}
        </if>
	</select>
	
	<!-- 市级信息列表查询查询  -->
	<select id="findAllRegionCity" resultType="pd" useCache="false" >
	    SELECT
	    	rc.id,
	    	rc.provid,
	    	rc.cityid,
	    	(select name from area_city ac where ac.id = rc.cityid) cityDesc,
	    	rc.gps,
	    	rc.remark
		FROM
			region_city rc
	</select>
	
	<!-- 城市信息记录列表查询-页面  -->
	<select id="checkRegionCtiyExist" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	*
		FROM
			region_city
		where 1=1
		<if test="provid != null and provid != '' and provid != '-1'">
           and provid = #{provid}
        </if>
        <if test="cityid != null and cityid != '' and cityid != '-1'">
           and cityid = #{cityid}
        </if>
	</select>
	
	<!-- 城市信息记录列表查询-页面  -->
	<select id="findRegionCtiyByid" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	rc.id,
	    	rc.provid,
	    	(select name from area_prov ap where ap.id = rc.provid) provDesc,
	    	rc.cityid,
	    	(select name from area_city ac where ac.id = rc.cityid) cityDesc,
	    	rc.gps,
	    	rc.remark
		FROM
			region_city rc
		where 1=1
		<if test="id != null and id != ''">
           and rc.id = #{id}
        </if>
	</select>
	
	<insert id="saveRegionCtiy" parameterType="pd">
		insert into region_city (
			provid,
			cityid,
			gps,
			remark)
		values ( 
			#{provid},
			#{cityid},
			#{gps},
			#{remark})
	</insert>
	
	<!-- 修改集散中心 -->
	<update id="updateRegionCity" parameterType="pd">
		update 
			region_city 
		set
			provid = #{provid},
			cityid = #{cityid},
			gps = #{gps},
			remark = #{remark}
		where id = #{id}
	</update>
	
	<!-- 获取查询  -->
	<select id="findRegionGPS" resultType="String" parameterType="pd" useCache="false" >
	    SELECT
	    	gps
		FROM
			region_city rc
		WHERE 1=1
           AND rc.provid = #{provid}
           AND rc.cityid = #{cityid}
           ORDER BY rc.id desc
           LIMIT 1
	</select>
	
</mapper>