<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserServiceCenterMapper">
	
	<!-- 查询表单 -->
	<select id="findUserServiceCenterByUserid" parameterType="pd" resultType="pd" useCache="false">
		select 
			id,
			servicecenterid,
			userid
		from
			user_service_center
		WHERE 1=1
		<if test="userid != null and userid != ''">
           and userid = #{userid}
        </if>
	</select>
	
	<!-- 新增app_user  -->
    <insert id="appUserLinkServiceCenter" parameterType="pd">
	    insert into user_service_center
	    	(userid,
	    	 servicecenterid)
	    values 
	    	(#{userid},
	    	 #{servicecenterid})
    </insert>
</mapper>