<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserTransitCenterMapper">
	
	<!-- 查询表单 -->
	<select id="findUserTransitCenterByUserid" parameterType="pd" resultType="pd" useCache="false">
		select 
			id,
			transitid,
			userid
		from
			user_transit_center
		WHERE 1=1
		<if test="userid != null and userid != ''">
           and userid = #{userid}
        </if>
	</select>
	
	<!-- 新增app_user 和集散中心关联  -->
    <insert id="appUserLinkTransitCenter" parameterType="pd">
	    insert into user_transit_center
	    	(userid,
	    	transitid)
	    values 
	    	(#{userid},
	    	 #{transitid})
    </insert>
</mapper>