<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
	
		<typeAlias type="com.fh.entity.system.User" alias="User"/>
		<typeAlias type="com.fh.entity.system.Role" alias="Role"/>
		<typeAlias type="com.fh.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.fh.entity.system.TestUser" alias="TestUser"/>
		<typeAlias type="com.fh.entity.system.SysItem" alias="SysItem"/>
		<typeAlias type="com.fh.entity.system.Cus" alias="cuss"/>
		<typeAlias type="com.fh.entity.system.Sheet_detail" alias="sd"/>
		<typeAlias type="com.fh.entity.system.Sheet_info" alias="si"/>
		<typeAlias type="com.fh.entity.system.Work_Detail" alias="wd"/>
		<typeAlias type="com.fh.entity.system.Work_Info" alias="wi"/>
	    <typeAlias type="com.fh.entity.system.SysPost" alias="sp"/>
		<typeAlias type="com.fh.entity.system.WorkFlowDetail" alias="wfd"/>
		<typeAlias type="com.fh.entity.system.WorkFlowInfo" alias="wfi"/>
		<typeAlias type="com.fh.entity.system.WorkFlowSheet" alias="wfs"/>
		<typeAlias type="com.fh.entity.system.AuditInfo" alias="ai"/>
		<typeAlias type="com.fh.entity.system.Log" alias="log"/>		
		<typeAlias type="com.fh.util.PageData" alias="pd"/>
		<typeAlias type="com.fh.entity.auxiliary.smstemplate.SMSTemplate" alias="SMSTemplate"/>
		<typeAlias type="com.fh.entity.customer.CusChargeInfo" alias="CusChargeInfo"/>
		<typeAlias type="com.fh.entity.auxiliary.coupon.CouponInfo" alias="CouponInfo"/>
		<typeAlias type="com.fh.entity.delivery.AppUser" alias="AppUser"/>
		<typeAlias type="com.fh.entity.delivery.UserDeliveryMan" alias="UserDeliveryMan"/>
		<typeAlias type="com.fh.entity.delivery.TransitCenter" alias="TransitCenter"/>
		<typeAlias type="com.fh.entity.delivery.UserPickerInfo" alias="UserPickerInfo"/>
		<typeAlias type="com.fh.entity.delivery.TaskMainDriver" alias="TaskMainDriver"/>
		<typeAlias type="com.fh.entity.base.BaseConfig" alias="bg"/>
		<typeAlias type="com.fh.entity.area.AreaProvInfo" alias="AreaProvInfo"/>
		<typeAlias type="com.fh.entity.area.AreaCityInfo" alias="AreaCityInfo"/>
		<typeAlias type="com.fh.entity.area.AreaDistrictInfo" alias="AreaDistrictInfo"/>
		<typeAlias type="com.fh.entity.area.AreaRoadInfo" alias="AreaRoadInfo"/>
		<typeAlias type="com.fh.entity.area.AreaRoadInfo" alias="AreaRoadInfo"/>
		<typeAlias type="com.fh.entity.auxiliary.invitation.InvitationCodeInfo" alias="InvitationCodeInfo"/>
		<typeAlias type="com.fh.entity.auxiliary.smstemplate.SmsIdentifyingInfo" alias="SmsIdentifyingInfo"/>
		<typeAlias type="com.fh.entity.delivery.BaiduCoord" alias="baiduCoord"/>
		<typeAlias type="com.fh.entity.delivery.RegionCity" alias="regionCity"/>
		<typeAlias type="com.fh.entity.customer.CusCompliantInfo" alias="CusCompliantInfo"/>
		<typeAlias type="com.fh.entity.customer.OrderUrgeRecord" alias="OrderUrgeRecord"/>
		<typeAlias type="com.fh.entity.customer.CusInvoiceInfo" alias="CusInvoiceInfo"/>
		<typeAlias type="com.fh.entity.order.OrderMainSpec" alias="OrderMainSpec"/>
		<typeAlias type="com.fh.entity.order.OrderOverTime" alias="OrderOverTime"/>
		<typeAlias type="com.fh.entity.delivery.UserDriverInfo" alias="UserDriverInfo"/>
        <typeAlias type="com.fh.entity.order.ProblemOrder" alias="ProblemOrder"/>
        <typeAlias type="com.fh.entity.order.ProblemNotes" alias="ProblemNotes"/>
        <typeAlias type="com.fh.entity.order.OrderRole" alias="OrderRole"/>
        <typeAlias type="com.fh.entity.order.OrderBaggage" alias="OrderBaggage"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderResData" alias="AppOrderResData"/>
        <typeAlias type="com.fh.entity.order.OrderNotesInfo" alias="OrderNotesInfo"/>
        <typeAlias type="com.fh.entity.customer.CusInfo" alias="CusInfo"/>
        <typeAlias type="com.fh.entity.order.OrderFlight" alias="OrderFlight"/>
        <typeAlias type="com.fh.entity.order.OrderAddress" alias="OrderAddress"/>
        <typeAlias type="com.fh.entity.customer.CusCouponInfo" alias="CusCouponInfo"/>
       	<typeAlias type="com.fh.entity.order.OrderInvoiceInfo" alias="OrderInvoiceInfo"/>
        <typeAlias type="com.fh.entity.order.OrderInsureInfo" alias="OrderInsureInfo"/>
        <typeAlias type="com.fh.entity.order.OrderSenderReceiver" alias="OrderSenderReceiver"/>
		<typeAlias type="com.fh.entity.h5.HistoryAddress" alias="HistoryAddress"/>
        <typeAlias type="com.fh.entity.auxiliary.push.PushInfo" alias="PushInfo"/>
        <typeAlias type="com.fh.entity.app.auxiliary.push.req.AppPushNum" alias="AppPushNum"/>
        <typeAlias type="com.fh.entity.autoallot.AutoAllotParam" alias="AutoAllotParam"/>
        <typeAlias type="com.fh.entity.autoallot.HaulWayDetail" alias="HaulWayDetail"/>
        <typeAlias type="com.fh.service.delivery.CounterServiceCenter" alias="CounterServiceCenter"/>
     	<typeAlias type="com.fh.entity.configcenter.SpecialPriceDetail" alias="SpecialPriceDetail"/>
     	<typeAlias type="com.fh.entity.configcenter.GoldPriceDetail" alias="GoldPriceDetail"/>
     	<typeAlias type="com.fh.entity.configcenter.ConfigCenter" alias="ConfigCenter"/>
     
        <!-- H5 -->
        <typeAlias type="com.fh.entity.h5.H5OrderInfoBean" alias="H5OrderInfoBean"/>
        <typeAlias type="com.fh.entity.h5.H5ContactsReqBean" alias="H5ContactsReqBean"/>
        <typeAlias type="com.fh.entity.order.FetchcodeStore" alias="FetchcodeStore"/>
        <typeAlias type="com.fh.entity.h5.H5OrderInfo" alias="H5OrderInfo"/>
        <typeAlias type="com.fh.entity.order.OrderPayInfo" alias="OrderPayInfo"/>
        <!-- H5 END-->
        

        <typeAlias type="com.fh.entity.order.OrderEvaluate" alias="OrderEvaluate"/>
       

        
        <!-- APP start -->
        <typeAlias type="com.fh.entity.app.order.AppOrderReqData" alias="AppOrderReqData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderResData" alias="AppOrderResData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderJicunReqData" alias="AppOrderJicunReqData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderJicunResData" alias="AppOrderJicunResData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderFinishReqData" alias="AppOrderFinishReqData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderFinishResData" alias="AppOrderFinishResData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderAirportResData" alias="AppOrderAirportResData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderAirportReqData" alias="AppOrderAirportReqData"/>
        
        <typeAlias type="com.fh.entity.app.order.AppOrderDetailsReqData" alias="AppOrderDetailsReqData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderDetailsResData" alias="AppOrderDetailsResData"/>
        
        <typeAlias type="com.fh.entity.app.counterservice.AppAffirmConnectReqData" alias="AppAffirmConnectReqData"/>
        
        <typeAlias type="com.fh.entity.app.transitcenter.TransitOrderReqData" alias="TransitOrderReqData"/>
        <typeAlias type="com.fh.entity.app.transitcenter.TransitOrderResData" alias="TransitOrderResData"/>
        
        <typeAlias type="com.fh.entity.app.transitcenter.AppUnloadScanReqData" alias="AppUnloadScanReqData"/>
        <typeAlias type="com.fh.entity.app.transitcenter.AppUnloadScanResData" alias="AppUnloadScanResData"/>
        
        
        <typeAlias type="com.fh.entity.app.transitcenter.AppUnloadScanReqData" alias="AppUnloadScanReqData"/>
        <typeAlias type="com.fh.entity.app.transitcenter.AppUnloadScanResData" alias="AppUnloadScanResData"/>
        
        <typeAlias type="com.fh.entity.app.userdelivery.UserDeliveryReqData" alias="UserDeliveryReqData"/>
        <typeAlias type="com.fh.entity.app.userdelivery.UserDeliveryResData" alias="UserDeliveryResData"/>
        <typeAlias type="com.fh.entity.app.order.AppOrderNumResData" alias="AppOrderNumResData"/>
        <!-- APP end-->
        
		<!-- 分页 -->
		<typeAlias type="com.fh.entity.Page" alias="Page"/>
		
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.fh.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>