<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CusCompliantInfoMapper">
  <resultMap id="BaseResultMap" type="CusCompliantInfo" >
    <id column="id" property="id" />
    <result column="cusid" property="cusid" />
    <result column="cusname" property="cusname" />
    <result column="mobile" property="mobile" />
    <result column="status" property="status" />
    <result column="addtime" property="addtime" />
    <result column="backtime" property="backtime" />
    <result column="processby" property="processby" />
    <result column="processusername" property="processusername" />
    <result column="content" property="content" />
    <result column="feedback" property="feedback" />
  </resultMap>
	
	<!-- 
		新增投诉
		陈玉石
		2018年3月4日15:31:28 
	-->
	<insert id="insert" parameterType="CusCompliantInfo">
		insert into cus_compliant_info(cusid,cusname,mobile,status,content,addtime)
		values (
			#{cusid}, #{cusname},#{mobile},#{status},#{content},now()
			)
	</insert>
	
	<!-- 导出  -->
	<select id="findAll" resultType="pd" parameterType="pd" useCache="false" >
	    select * from cus_compliant_info  
	    where 1=1
	      <if test="cusid !=null and cusid != ''"> 
				and cusid = #{cusid} 
		  </if> 
		  <if test="cusname !=null and cusname != ''"> 
				and cusname like CONCAT('%',#{cusname},'%') 
		  </if> 
		  <if test="mobile !=null and mobile != ''"> 
				and mobile like CONCAT('%',#{mobile},'%') 
		  </if> 
		  <if test="beginDate !=null and beginDate != ''"> 
				and addtime >= #{beginDate} 
		  </if> 
		  <if test="endDate !=null and endDate != ''"> 
				and  not( addtime > #{beginDate} )
		  </if>
		  <if test="status !=null and status != '' and status !='-1'"> 
				and status = #{status} 
		  </if> 
		  order by id desc
	</select>
	
	<!-- 客户充值记录列表查询  -->
	<select id="cusCompliantlistPage" resultType="pd" parameterType="page" useCache="false" >
	    select * from cus_compliant_info  
	    where 1=1
	      <if test="pd.cusid !=null and pd.cusid != ''"> 
				and cusid = #{pd.cusid} 
		  </if> 
		  <if test="pd.cusname !=null and pd.cusname != ''"> 
				and cusname like CONCAT('%',#{pd.cusname},'%') 
		  </if> 
		  <if test="pd.mobile !=null and pd.mobile != ''"> 
				and mobile like CONCAT('%',#{pd.mobile},'%') 
		  </if> 
		  <if test="pd.beginDate !=null and pd.beginDate != ''"> 
				and addtime >= #{pd.beginDate} 
		  </if> 
		  <if test="pd.endDate !=null and pd.endDate != ''"> 
				and  not( addtime > #{pd.endDate} )
		  </if>
		  <if test="pd.status !=null and pd.status != '' and pd.status !='-1'"> 
				and status = #{pd.status} 
		  </if> 
		  order by id desc
	</select>
</mapper>