<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CusInvoiceInfoMapper">
  <resultMap id="BaseResultMap" type="CusInvoiceInfo" >
    <id column="id" property="id" />
    <result column="cusid" property="cusid" />
    <result column="cusname" property="cusname" />
    <result column="amt" property="amt" />
    <result column="title" property="title" />
    <result column="taxno" property="taxno" />
    <result column="companyname" property="companyname" />
    <result column="email" property="email" />
    <result column="status" property="status" />
    <result column="processby" property="processby" />
    <result column="processusername" property="processusername" />
    <result column="processtime" property="processtime" />
    <result column="addtime" property="addtime" />
    <result column="mobile" property="mobile" />
  </resultMap>
	
	<insert id="insertInvoice" parameterType="pd" >
	    insert into order_invoice_info (cusid, cusname,amt, title, taxno,email, status,companyname,addtime,mobile)
	    values (#{modelcusid},#{modelcusname},#{modelamt}, #{modeltitle},#{modeltaxno}, #{modelemail}, #{status},#{modelcompanyname},now(),#{modelmobile})
	</insert>
	
	<!-- 审核发票  -->
	<select id="checkInfo" resultType="CusInvoiceInfo" parameterType="pd" useCache="false" >
	    select * from order_invoice_info where cusid = #{modelcusid} and cusname = #{modelcusname} and mobile = #{modelmobile} 
	    and amt = #{modelamt} and title = #{modeltitle} and taxno = #{modeltaxno} and email = #{modelemail} and companyname = #{modelcompanyname} 
	</select>
	
	<!-- 发票列表查询  -->
	<select id="cusInvoicelistPage" resultType="pd" parameterType="page" useCache="false" >
	    select * from order_invoice_info  
	    where 1=1
		  <if test="pd.title !=null and pd.title != ''"> 
			and title like CONCAT('%',#{pd.title},'%') 
		  </if> 
		  <if test="pd.mobile !=null and pd.mobile != ''"> 
			and mobile like CONCAT('%',#{pd.mobile},'%') 
		  </if>
		  <if test="pd.cusname !=null and pd.cusname != ''"> 
			and cusname like CONCAT('%',#{pd.cusname},'%') 
		  </if>
		  <if test="pd.status !=null and pd.status != '' and pd.status !='-1'"> 
			and status = #{pd.status}
		  </if>
		  order by id desc
	</select>
</mapper>