<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderEvaluateMapper">

	<!-- 发表评论 zhangjj --> 
	<insert id="insert" parameterType="OrderEvaluate">
		INSERT INTO order_evaluate (
			orderid,
			evaluatedesc,
			staffattitude,
			logisticsservice
		)
		VALUE (
			#{orderid},
			#{evaluatedesc},
			#{staffattitude},
			#{logisticsservice}	
		)
	 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
		SELECT LAST_INSERT_ID() 
	 </selectKey> 
	</insert>
	
	<!-- 更新评语 -->
	<update id="updateEvaluatedesc" parameterType="OrderEvaluate">
		UPDATE 
			order_evaluate 
		SET
			evaluatedesc = #{evaluatedesc}
		WHERE id = #{id}
	</update>
	
	<!-- 根据订单id查询评论信息 zhangjj -->
	<select id="findbyid" resultType="OrderEvaluate" parameterType="Integer" useCache="false">
		SELECT
			*
		FROM 
			order_evaluate oe
		WHERE 1=1
		AND oe.orderid =#{orderid}
		ORDER BY oe.id desc
		LIMIT 1
	</select>
	
</mapper>

