<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderNotesInfoMapper">

	<!-- 增加备注信息 -->
	<insert id="insert" parameterType="OrderNotesInfo">
		INSERT INTO order_notes_info (
			orderid,
			notes,
			addusername,
			addtime
		)
		VALUES (
			#{orderid},
			#{notes},
			#{addusername},
			now()
		)
		<selectKey keyProperty="id" resultType="Integer" order="AFTER" >
			select LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="orderNotesInfoListPage" resultType="pd" parameterType="page" useCache="false">
		select oni.id,
		oni.notes,
		oni.addusername,
		oni.addtime
		from order_notes_info oni
		<if test="pd.id != null and pd.id != ''">
			and oni.orderid =#{oni.id}
		</if>
		order by oni.addtime desc
	</select>
	
	<select id="findByOrderid" resultType="OrderNotesInfo" parameterType="Integer" useCache="false">
		SELECT 
			oni.id,
			oni.orderid,
			oni.notes,
			oni.addusername,
			oni.addtime
		FROM 
			order_notes_info oni
		WHERE 1=1
		AND oni.orderid =#{orderid}
	</select>
	
	<!-- 更新备注信息 -->
	<update id="updateNotesById" >
		UPDATE
			order_notes_info oni
		SET
			oni.notes = #{notes}
		WHERE 
			oni.id = #{id}
	
	</update>
	
</mapper>

