<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderInsureInfoMapper">

	<!-- 
		新增订单保险信息
		陈玉石
		2018年3月4日15:31:28 
	-->
	<insert id="insert" parameterType="OrderInsureInfo">
		insert into order_insure_info (orderid, insurecode, addtime)
		values (
			#{orderid}, #{insurecode},now()
			)
	</insert> 
	
	<!-- 
		根据订单号查询订单保险信息
		陈玉石
		2018年3月4日15:47:58
	 -->
	<select id="findByOrderid" resultType="OrderInsureInfo" parameterType="pd" useCache="false">
		SELECT *
		FROM 
			order_insure_info
		WHERE 1=1
		<if test="orderid != null and orderid != ''">
			and orderid =#{orderid}
		</if>
		order by id desc
		limit 1
	</select>
</mapper>

