<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderOperateTrailMapper">

	<select id="orderOperateTrailListPage" resultType="pd"
		parameterType="page" useCache="false">
		select oot.id,
		oot.operate,
		oot.addtime,
		oot.operator
		from order_operate_trail oot
		<if test="pd.id != null and pd.id != ''">
			and oot.orderid =#{oot.id}
		</if>
		order by oot.addtime desc
	</select>

</mapper>

