<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BusinessHoursMapper">
	
  <select id="findBusinessHourslistPage" parameterType="page" resultType="pd">
  	 SELECT 
  	        bh.id,
  			bh.cityid,
			(select bc.codename from base_config bc where bc.`code`=bh.sendtype and bc.codetype='ORDERADDRESSTYPE') sendtypename,
			bh.sendstarttime,
			bh.sendendtime,
			(select bc.codename from base_config bc where bc.`code`=bh.tasktype and bc.codetype='ORDERADDRESSTYPE') tasktypename,
			bh.taskstarttime,
			bh.taskendtime,
			(select bc.codename from base_config bc where bc.`code`=bh.isovernight and bc.codetype='ISOVERNIGHT') isovernightname
  	FROM
  		business_hours bh
  	WHERE 1=1
  		<if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
  			AND bh.cityid = #{pd.cityid}
  		</if>
  	ORDER BY bh.id desc
  </select>
	
	  	<!-- 班车司机新增   -->
	<insert id="insertBusinessHours" parameterType="pd" >
	    INSERT into business_hours 
	    	(cityid,
	    	sendtype,
	    	sendstarttime,
	    	sendendtime,
	    	tasktype,
	    	taskstarttime,
	    	taskendtime,
	    	isovernight,
	    	addtime)
	    VALUES 
	    	(#{cityid},
	    	 #{sendtype},
	    	 #{sendstarttime},
	    	 #{sendendtime},
	    	 #{tasktype},
	    	 #{taskstarttime},
	    	 #{taskendtime},
	    	 #{isovernight},
	    	 now())
	     <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		 </selectKey> 
  	</insert>
  	
  	<delete id="deleteBusinessHours" parameterType="pd">
  	 delete from business_hours  where id = #{id}
  	</delete>
  	
  	 <update id="updateBusinessHours" parameterType="pd">
  	UPDATE 
  		business_hours
  	SET
  		sendtype = #{sendtype},
  		sendstarttime = #{sendstarttime},
  		sendendtime = #{sendendtime},
  		tasktype = #{tasktype},
  		taskstarttime = #{taskstarttime},
  		taskendtime = #{taskendtime},
  		isovernight = #{isovernight}
  	WHERE 1=1
  		AND id = #{id}
  </update>
  	
</mapper>