<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestUserMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  
	
	<resultMap type="TestUser" id="TestUser">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
	</resultMap>
	
	<!-- 查询所有的测试用户 -->
	<select id="getTestUser" resultMap="TestUser" useCache="false">
		select * from testuser 
		where 1=1	
	</select> 
</mapper>