<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContactsMapper">
	
	<!--表名 -->
	<sql id="tableName">
		CONTACTS
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		name,	
		mobile,	
		openid,	
		addtime,	
		id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{name},	
		#{mobile},	
		#{openid},	
		now(),	
		#{id}
	</sql>
	
	<!-- 新增联系人-->
	<insert id="addContact" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	    name,	
		mobile,	
		openid,	
		addtime,
		isvalid
		) values (
	    #{name},	
		#{mobile},	
		#{openid},	
		now(),	
		#{isvalid}
		)
	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
	</selectKey>
	</insert>
	
	<!-- 删除联系人 -->
	<update id="deleteContactById" parameterType="pd">
		UPDATE 
			contacts
		SET
			isvalid = #{isvalid}
		WHERE 1=1		
		AND id = #{contactid}
	</update>
	
	<!-- 修改联系人 -->
	<update id="updateContactByid" parameterType="pd">
		UPDATE
		<include refid="tableName"></include>
		SET 
			name = #{name},
			mobile = #{mobile},																			
			modifytime = now()															
		WHERE
		1 = 1
		AND id = #{id}
	</update>
	
	<!-- 查询联系人列表（通过客户id） -->
	<select id="queryContactsListByOpenId" parameterType="pd" resultType="H5ContactsReqBean">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
		1 = 1
		AND	openid = #{openid}
		AND isvalid = #{isvalid}	
	</select>
	
</mapper>