<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderUrgeRecordMapper">
  <resultMap id="BaseResultMap" type="OrderUrgeRecord" >
    <id column="id" property="id" />
    <result column="cusid" property="cusid" />
    <result column="cusname" property="cusname" />
    <result column="orderid" property="orderid" />
    <result column="orderno" property="orderno" />
    <result column="ordertime" property="ordertime" />
    <result column="mobile" property="mobile" />
    <result column="dmanid" property="dmanid" />
    <result column="dmanname" property="dmanname" />
    <result column="dmanmobile" property="dmanmobile" />
    <result column="status" property="status" />
    <result column="processby" property="processby" />
    <result column="processusername" property="processusername" />
    <result column="processtime" property="processtime" />
    <result column="addtime" property="addtime" />
    <result column="urgenotes" property="urgenotes" />
  </resultMap>
	
	<!-- 
		新增催单信息
		陈玉石
		2018年3月4日15:31:28 
	-->
	<insert id="insert" parameterType="OrderUrgeRecord">
		insert into order_urge_record(cusid,cusname,orderid,orderno,ordertime,
			mobile,dmanid,dmanname,dmanmobile,status,urgenotes,addtime)
		values (
			#{cusid}, #{cusname},#{orderid},#{orderno},#{ordertime},#{mobile},
			#{dmanid},#{dmanname},#{dmanmobile},#{status},#{urgenotes},now()
			)
	</insert>
	
	<!-- 客户充值记录列表查询  -->
	<select id="orderUrgeRecordlistPage" resultType="OrderUrgeRecord" parameterType="page" useCache="false" >
	    select * from order_urge_record  
	    where 1=1
		  <if test="pd.dmanname !=null and pd.dmanname != ''"> 
			and dmanname like CONCAT('%',#{pd.dmanname},'%') 
		  </if> 
		  <if test="pd.beginDate !=null and pd.beginDate != ''"> 
			and ordertime >= #{pd.beginDate} 
		  </if> 
		  <if test="pd.endDate !=null and pd.endDate != ''"> 
			and not ( ordertime > #{pd.endDate} )
		  </if>
		  order by id desc
	</select>
</mapper>