<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AreaProvInfoMapper" >
  <resultMap id="AreaProvInfo" type="AreaProvInfo" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="isvalid" property="isvalid" />
  </resultMap>
  
  
  <!-- 根据name查询  -->
  <select id="getByName" parameterType="pd" resultType="AreaProvInfo">
  	select * from area_prov where name = #{modelProvID}
  </select>
  
  
  <!-- 核对name -->
  <select id="checkName" parameterType="pd" resultType="AreaProvInfo">
  	select * from area_prov where name = #{modelName}
  </select>
  
  <!-- 删除省份信息 -->
  <delete id="delProv" parameterType="pd" >
    delete from area_prov where id = #{idV}
  </delete>
  
  <!-- 修改省份信息 -->
  <update id="updateProv" parameterType="pd" >
  	update area_prov set name=#{modelName}, isvalid = #{isvalidV} where id = #{modelId} 
  </update>
  
  <!-- 新增省份  -->
  <insert id="insertProv" parameterType="pd">
  	insert into area_prov 
  	(id,name,isvalid) values 
  	(#{modelId},#{modelName},#{isvalidV})
  </insert>
  
  
  <!-- 核对id -->
  <select id="checkID" parameterType="pd" resultType="AreaProvInfo">
  	select * from area_prov where id = #{id}
  </select>
  
  <!-- 修改状态  -->
  <update id="changeStatus" parameterType="pd" >
  	update area_prov set isvalid = #{isvalidV} where id = #{id} 
  </update>
  
  <select id="provlistPage" resultType="pd" parameterType="page" useCache="false">
    select * from area_prov where 1=1 
	<if test="pd.name !=null and pd.name != ''">
		and name like CONCAT('%',#{pd.name},'%') 
	</if>
	<if test="pd.isvalid !=null and pd.isvalid != '' and pd.isvalid !='-1' ">
		and isvalid = #{pd.isvalid}
	</if>
  </select>
  
  <select id="findAll" resultType="pd" useCache="false">
    select * from area_prov
  </select>
  
</mapper>