<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ConfigCenterMapper">
	
  <select id="findValueByCityidAnd" parameterType="ConfigCenter" resultType="String" >
  	SELECT 
  		business_value
  	FROM 
  		config_center cc
  	WHERE 1=1
  		AND cc.cityid = #{cityid}
  		AND cc.business_key = #{business_key}
  		AND cc.isvalid = 'Y'
  		ORDER BY cc.id desc
  		LIMIT 1
  </select>
  
  <insert id="insert" parameterType="ConfigCenter">
  	INSERT INTO config_center(
  		cityid,
  		business_key,
  		business_value,
  		remark,
  		isvalid,
  		addtime) 
  	VALUES(
  		#{cityid},
  		#{business_key},
  		#{business_value},
  		#{remark},
  		'Y',
  		now())
  </insert>
  
  <update id="update" parameterType="ConfigCenter">
  	UPDATE 
  		config_center
  	SET
  		business_value = #{business_value},
  		isvalid = #{isvalid},
  		remark = #{remark}
  	WHERE 1=1
  		AND cityid = #{cityid}
  		AND business_key = #{business_key}
  </update>
  
  <select id="findConfigCenterlistPage" parameterType="page" resultType="ConfigCenter">
  	SELECT 
  		cc.id,
  		cc.cityid,
  		(select name from area_city ac where ac.id = cc.cityid) cityname,
  		cc.business_key,
  		cc.business_value,
  		cc.isvalid,
  		cc.remark
  	FROM
  		config_center cc
  	WHERE 1=1
  		<if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
  			AND cc.cityid = #{pd.cityid}
  		</if>
  		<if test="pd.business_key != null and pd.business_key != ''">
  			AND cc.business_key = #{pd.business_key}
  		</if>
  		<if test="pd.isvalid != null and pd.isvalid != '' and pd.isvalid !='-1'">
  			AND cc.isvalid = #{pd.isvalid}
  		</if>
  	ORDER BY cc.id desc
  </select>
	
</mapper>