<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportFormsMapper">
	<select id="reportFormslistPage" resultType="pd">
		SELECT
		om.id,
		DATE_FORMAT( om.addtime, '%Y-%m-%d' ) adddate,
		DATE_FORMAT( om.addtime, '%Y-%m-%d %H:%i' ) addtime,
		om.channel,
		( SELECT bcf.codename FROM base_config bcf WHERE bcf.codetype = 'ORDER_CHANNEL' AND bcf.`code` = om.channel ) channeldesc,
		CONCAT_WS( '-', oa.srccityname, oa.destcityname ) city,
		om.orderno,
		( SELECT bcf.codename FROM base_config bcf WHERE bcf.codetype = 'orderType' AND bcf.`code` = om.type ) type,
		om.remark,
		( SELECT GROUP_CONCAT( DISTINCT ( oba.baggageid ) ) FROM order_baggage oba WHERE oba.orderid = om.id ) baggageid,
		om.num,
		ci.`name` cusname,
		ci.idno,
		osr.sendername,
		osr.senderphone,
		(
		SELECT
		ore.actionfinishtime
		FROM
		order_role ore
		WHERE
		ore.orderid = om.id
		AND ore.roletype IN ( 'ROLE_ARRIVE_HOTEL', 'ROLE_AIRPORT_SEND' )
		AND ore.isfinish = 'FINISHED'
		LIMIT 1
		) actionfinishtime,
		DATE_FORMAT( om.taketime, '%Y-%m-%d %H:%i' ) taketime,
		oa.srccityid,
		oa.srcaddrtype,
		oa.scrlandmark,
		oa.srcaddress,
		osr.receivername,
		osr.receiverphone,
		DATE_FORMAT( om.sendtime, '%Y-%m-%d %H:%i' ) sendtime,
		oa.destlandmark,
		oa.destaddress,
		oii.insurecode,
		om.totalmoney totalmoney,
		om.cutmoney,
		'隔夜费' nightmoney,
		om.actualmoney,
		( SELECT ori.refundreason FROM order_refund_info ori WHERE ori.orderid = om.id ) refundreason,
		'原路返回' refundtype,
		( SELECT ori.refundmoney FROM order_refund_info ori WHERE ori.orderid = om.id ) refundmoney,
		( SELECT ori.operator FROM order_refund_info ori WHERE ori.orderid = om.id ) operator,
		( SELECT ori.addtime FROM order_refund_info ori WHERE ori.orderid = om.id ) refundtime,
		(
		SELECT
		bcf.codename
		FROM
		base_config bcf
		WHERE
		bcf.codetype = 'INVOICE_INVOICETYPE'
		AND bcf.`code` = ( SELECT oii.invoicetype FROM order_invoice_info oii WHERE oii.orderid = om.id )
		) invoicetype,
		( SELECT oii.title FROM order_invoice_info oii WHERE oii.orderid = om.id ) title,
		( SELECT oii.taxno FROM order_invoice_info oii WHERE oii.orderid = om.id ) taxno,
		'邮件' transtype,
		( SELECT oii.email FROM order_invoice_info oii WHERE oii.orderid = om.id ) email,
		( SELECT oii.sendname FROM order_invoice_info oii WHERE oii.orderid = om.id ) sendname,
		( SELECT oii.sendphone FROM order_invoice_info oii WHERE oii.orderid = om.id ) sendphone,
		( SELECT oii.sendaddr FROM order_invoice_info oii WHERE oii.orderid = om.id ) sendaddr,
		( SELECT bc.codename FROM base_config bc WHERE bc.codetype = 'orderStatus' AND bc.CODE = om.STATUS ) orderstatus
		FROM
		order_main om,
		order_address oa,
		order_sender_receiver osr,
		order_insure_info oii,
		cus_info ci ,
		order_pay_info opi
		WHERE
		om.id = oa.orderid
		AND om.id = oa.orderid
		AND om.id = osr.orderid
		AND om.id = oii.orderid
		AND om.cusid = ci.id
		AND opi.orderid = om.id
		AND (opi.status = 'PREPAID' or opi.type = 'MONTH')
		<if test="pd.orderno != null and pd.orderno != ''">
			and om.orderno like "%"#{pd.orderno}
		</if>
		<if test="pd.starttime != null and pd.starttime != ''">
			and om.addtime &gt;= #{pd.starttime}
		</if>
		<if test="pd.endtime != null and pd.endtime != ''">
			and om.addtime &lt;= #{pd.endtime}
		</if>
		  and oa.srccityid = #{pd.loginperson_cityid}
		  and om.isvalid ='Y'
	</select>
	
	<select id="reportFormslist" resultType="pd" parameterType="pd">
		SELECT
		om.id,
		DATE_FORMAT( om.addtime, '%Y-%m-%d' ) adddate,
		DATE_FORMAT( om.addtime, '%Y-%m-%d %H:%i' ) addtime,
		om.channel,
		( SELECT bcf.codename FROM base_config bcf WHERE bcf.codetype = 'ORDER_CHANNEL' AND bcf.`code` = om.channel ) channeldesc,
		CONCAT_WS( '-', oa.srccityname, oa.destcityname ) city,
		om.orderno,
		om.casenum,
		om.flightno,
		( SELECT bcf.codename FROM base_config bcf WHERE bcf.codetype = 'orderType' AND bcf.`code` = om.type ) type,
		om.remark,
		( SELECT GROUP_CONCAT( DISTINCT ( oba.baggageid ) ) FROM order_baggage oba WHERE oba.orderid = om.id ) baggageid,
		om.num,
		ci.`name` cusname,
		ci.idno,
		osr.sendername,
		osr.senderphone,
		(
		SELECT
		ore.actionfinishtime
		FROM
		order_role ore
		WHERE
		ore.orderid = om.id
		AND ore.roletype IN ( 'ROLE_ARRIVE_HOTEL', 'ROLE_AIRPORT_SEND' )
		AND ore.isfinish = 'FINISHED'
		LIMIT 1
		) actionfinishtime,
		DATE_FORMAT( om.taketime, '%Y-%m-%d %H:%i' ) taketime,
		oa.srccityid,
		oa.srcaddrtype,
		oa.scrlandmark,
		oa.srcaddress,
		osr.receivername,
		osr.receiverphone,
		DATE_FORMAT( om.sendtime, '%Y-%m-%d %H:%i' ) sendtime,
		oa.destlandmark,
		oa.destaddress,
		oii.insurecode,
		om.totalmoney totalmoney,
		om.cutmoney,
		'隔夜费' nightmoney,
		om.actualmoney,
		( SELECT ori.refundreason FROM order_refund_info ori WHERE ori.orderid = om.id ) refundreason,
		'原路返回' refundtype,
		( SELECT ori.refundmoney FROM order_refund_info ori WHERE ori.orderid = om.id ) refundmoney,
		( SELECT ori.operator FROM order_refund_info ori WHERE ori.orderid = om.id ) operator,
		( SELECT ori.addtime FROM order_refund_info ori WHERE ori.orderid = om.id ) refundtime,
		(
		SELECT
		bcf.codename
		FROM
		base_config bcf
		WHERE
		bcf.codetype = 'INVOICE_INVOICETYPE'
		AND bcf.`code` = ( SELECT oii.invoicetype FROM order_invoice_info oii WHERE oii.orderid = om.id )
		) invoicetype,
		( SELECT oii.title FROM order_invoice_info oii WHERE oii.orderid = om.id ) title,
		( SELECT oii.taxno FROM order_invoice_info oii WHERE oii.orderid = om.id ) taxno,
		'邮件' transtype,
		( SELECT oii.email FROM order_invoice_info oii WHERE oii.orderid = om.id ) email,
		( SELECT oii.sendname FROM order_invoice_info oii WHERE oii.orderid = om.id ) sendname,
		( SELECT oii.sendphone FROM order_invoice_info oii WHERE oii.orderid = om.id ) sendphone,
		( SELECT oii.sendaddr FROM order_invoice_info oii WHERE oii.orderid = om.id ) sendaddr,
		( SELECT bc.codename FROM base_config bc WHERE bc.codetype = 'orderStatus' AND bc.CODE = om.STATUS ) orderstatus
		FROM
		order_main om,
		order_address oa,
		order_sender_receiver osr,
		order_insure_info oii,
		cus_info ci ,
		order_pay_info opi
		WHERE
		om.id = oa.orderid
		AND om.id = oa.orderid
		AND om.id = osr.orderid
		AND om.id = oii.orderid
		AND om.cusid = ci.id
		AND opi.orderid = om.id
		AND (opi.status = 'PREPAID' or opi.type = 'MONTH')
		<if test="orderno != null and orderno != ''">
			and om.orderno like "%"#{orderno}
		</if>
		<if test="starttime != null and starttime != ''">
			and om.addtime &gt;= #{starttime}
		</if>
		<if test="endtime != null and endtime != ''">
			and om.addtime &lt;= #{endtime}
		</if>
		<if test="isbusiness != null and isbusiness != ''">
			and om.isbusiness = #{isbusiness}
		</if>
		<if test="name != null and name != ''">
			and ci.name like '%${name}%'
		</if>
		 and oa.srccityid = #{loginperson_cityid}
		 and om.isvalid ='Y'
	</select>
	
	<select id="reportFormsDetaillistPage" resultType="pd">
		select
		om.orderno,
		au.name operator_name,
		au.mobile operator_mobile,
		case when au.type = 'DELIVERY_MAN' then (select platenumber from user_delivery_man udm where udm.userid = au.id) else '' end platenumber,
		(select bc.codename from base_config bc where bc.codetype='APPUSERTYPE' and bc.code = au.type) operator_post,
		oro.actionfinishtime operator_time,
		(select bc.codename from base_config bc where bc.codetype='ROLETYPE' and bc.code = oro.roletype) operator_content,
		(select bc.codename from base_config bc where bc.codetype='orderStatus' and bc.code = om.status) order_status,
		(select bc.codename from base_config bc where bc.codetype='ISFINISH' and bc.code = oro.isfinish) isfinish
		FROM
		order_main om,
		order_role oro,
		app_user au,
		order_address oa,
		order_pay_info opi
		where 1=1
		and om.id = oro.orderid
		and oro.roleid = au.id
		and oa.orderid = om.id
		and om.isvalid = 'Y'
		and opi.orderid = om.id
		  <if test="pd.orderno != null and pd.orderno != ''">
			and om.orderno like "%"#{pd.orderno}
		</if>
		<if test="pd.starttime != null and pd.starttime != ''">
			and om.addtime &gt;= #{pd.starttime}
		</if>
		<if test="pd.endtime != null and pd.endtime != ''">
			and om.addtime &lt;= #{pd.endtime}
		</if>
		and oa.srccityid = #{pd.loginperson_cityid}
	</select>
	
	<select id="reportFormsDetaillist" resultType="pd" parameterType="pd">
		select
		om.orderno,
		au.name operator_name,
		au.mobile operator_mobile,
		case when au.type = 'DELIVERY_MAN' then (select platenumber from user_delivery_man udm where udm.userid = au.id) else '' end platenumber,
		(select bc.codename from base_config bc where bc.codetype='APPUSERTYPE' and bc.code = au.type) operator_post,
		oro.actionfinishtime operator_time,
		(select bc.codename from base_config bc where bc.codetype='ROLETYPE' and bc.code = oro.roletype) operator_content,
		(select bc.codename from base_config bc where bc.codetype='orderStatus' and bc.code = om.status) order_status,
		(select bc.codename from base_config bc where bc.codetype='ISFINISH' and bc.code = oro.isfinish) isfinish
		FROM
		order_main om,
		order_role oro,
		app_user au,
		order_address oa,
		order_pay_info opi
		where 1=1
		and om.id = oro.orderid
		and oro.roleid = au.id
		and oa.orderid = om.id
		and om.isvalid = 'Y'
		and opi.orderid = om.id
		<if test="orderno != null and orderno != ''">
			and om.orderno like "%"#{orderno}
		</if>
		<if test="starttime != null and starttime != ''">
			and om.addtime &gt;=#{starttime}
		</if>
		<if test="endtime != null and endtime != ''">
			and om.addtime &lt;=#{endtime}
		</if>
	      and oa.srccityid = #{loginperson_cityid}
		  order by om.orderno,oro.id
	</select>
	
</mapper>