<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CouponInfoMapper">
	
	<sql id="Base_Column_List" >
	    id,
	    type,
	    channel,
	    startdate,
	    invaliddate,
	    money, 
	    fullmoney, 
    	discount,
    	code,
    	leftnum,
    	usenum,
    	isvalid,
    	notes,
    	createdby,
    	addtime
	</sql>
  
  
  	<!-- 优惠券导出  -->
	<select id="couponList" resultType="pd" parameterType="pd" useCache="false" >
	    select 
	    	<include refid="Base_Column_List" />
	    from coupon_info  where 1=1 
	    <if test="code !=null and code != ''">
			and code like CONCAT('%',#{code},'%') 
		</if>
		<if test="type !=null and type !='' and type !='-1'">
			and type = #{type}
		</if>
		<if test="isvalid !=null and isvalid != '' and isvalid !='-1'">
			and isvalid = #{isvalid}
		</if>
	</select>
	
  	<!-- 优惠券生成   -->
  	<insert id="insert" parameterType="pd" >
	    INSERT INTO coupon_info (
	    	type,
	    	channel,
			startdate,
			invaliddate,
			money,
			fullmoney,
			discount,
			code,
			leftnum,
			usenum,
			notes,
			isvalid,
			createdby,
			addtime)
		VALUES (
			#{type},
			#{channel}, 	
			#{startdate}, 
			#{invaliddate},
			#{money},
			#{fullmoney},
			#{discount},
			#{code},
			#{leftnum},
			0,
			#{notes},
			'Y',
			#{createdby},
			now())
	</insert>
  
  	<!-- 核对优惠劵是否存在
  		   木桐
  		 2018年1月12日14:02:35  -->
	<select id="checkCode" resultType="CouponInfo" parameterType="pd" useCache="false" >
	    select 
	    	<include refid="Base_Column_List" />
	    from 
	    	coupon_info  
	    where 1=1
	   		and code = #{code} 
	</select>
  
  
	<!-- 优惠券配置列表查询  -->
	<select id="couponInfolistPage" resultType="pd" parameterType="page" useCache="false" >
	    select 
	    <include refid="Base_Column_List" />
	    from coupon_info  where 1=1 
	    <if test="pd.code !=null and pd.code != ''">
			and code like CONCAT('%',#{pd.code},'%') 
		</if>
		<if test="pd.type !=null and pd.type !='' and pd.type !='-1'">
			and type = #{pd.type}
		</if>
		<if test="pd.isvalid !=null and pd.isvalid != '' and pd.isvalid !='-1'">
			and isvalid = #{pd.isvalid}
		</if>
	</select>
	
	<!-- 数量减少 -->
	<select id="chackCouponNum" parameterType="Integer" resultType="Integer">
		SELECT
			ci.leftnum
		FROM
		 	coupon_info ci
		WHERE 1=1
			AND ci.id = #{couponid}
	</select>
	
	<!-- 增加使用数量,需要在dao层增加锁以防止并发 -->
	<update id="userCouponAddNum" parameterType="String">
		UPDATE 
			coupon_info ci
		SET
			ci.usenum = ci.usenum + 1
		WHERE 1=1
			AND ci.code = #{code}
	</update>
	
	<!-- 根据优惠码查询优惠卷信息 -->
	<select id="findcouponinfoByCode" resultType="CouponInfo" parameterType="String" useCache="false" >
	    select 
	    	<include refid="Base_Column_List" />
	    from 
	    	coupon_info  
	    where 1=1
	    	and	code = #{code} 
	</select>
	
	<!-- 增加使用数量,需要在dao层增加锁以防止并发 -->
	<update id="userCouponCutNum" parameterType="String">
		UPDATE 
			coupon_info ci
		SET
			ci.usenum = ci.usenum - 1
		WHERE 1=1
			AND ci.code = #{code}
	</update>
	
</mapper>