<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PushInfoMapper">
	
	<sql id="Base_Column_List" >
	    id, userid, pushcontent, extras, isread, addtime
	</sql>
  
  	<!-- 推送信息查询根据人员登陆id zhangjj  -->
	<select id="findByUserid" resultType="PushInfo" parameterType="Integer" useCache="false" >
	    SELECT 
	    	id, 
	    	userid, 
	    	pushcontent, 
	    	extras, 
	    	isread, 
	    	date_format(pi.addtime,'%Y-%m-%d %H:%i') addtime,
	    	type,
	    	theme
	    FROM
	    	push_info pi
	    WHERE 1=1 
			AND pi.userid = #{userid}
			AND pi.type = #{type}
			order BY pi.addtime desc
	</select>
	
	<!-- 更新信息已读 zhangjj -->
	<update id="updateIsreadToY" parameterType="PushInfo">
		UPDATE
			push_info
		SET
			isread = #{isread}
		WHERE 1=1
			AND userid = #{userid}
			
		<if test="id != null">
			AND id = #{id}
		</if>
		<if test="type != null">
			AND type = #{type}
		</if>
	</update>
			
	<!-- 未读信息有多少条 zhangjj  -->
	<select id="countIsread_N" resultType="AppPushNum" parameterType="Integer" useCache="false" >
	    SELECT 
	    	type,count(*) count
	    FROM
	    	push_info
	    WHERE 1=1 
			AND userid = #{userid}
			AND isread = '0'
		GROUP BY type
	</select>
	
  	<!--  推送信息增加  -->
  	<insert id="insert" parameterType="PushInfo" >
	    INSERT INTO push_info (
	    	userid,
	    	pushcontent,
	    	extras,
	    	isread,
	    	addtime,
	    	type,
	    	theme)
	     VALUES (
	      #{userid},
	      #{pushcontent},
	      #{extras},
	      '0',
	      now(),
	      #{type},
	      #{theme})
	     <selectKey resultType="Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		 </selectKey> 
	</insert>
	
	<!--  推送消息列表查询  -->
	<select id="pushInfolistPage" resultType="pd" parameterType="page" useCache="false">
		SELECT
			pushcontent,
			theme,
			date_format(pi.addtime,'%Y-%m-%d %H:%i') addtime,
			name		
		FROM
			push_info pi,
			app_user au
		WHERE 1=1
		AND au.id = pi.userid
		AND pi.type	= 'SYSTEMMSG'
		<if test="pd.name != null and pd.name != ''">
			and au.name like '%${pd.name}%'
		</if>
		<if test="pd.startdate != null and pd.startdate != ''">
			and pi.addtime &gt; #{pd.startdate}
		</if>
		<if test="pd.enddate != null and pd.enddate != ''">
			and pi.addtime &lt; #{pd.enddate}
		</if>
		
	</select>
	
	
	
</mapper>