.div_addr_query_body {
	border: 1px solid #e6e6e6; 
	float: left;
	width: 80%;
	margin-top: 2px;
	margin-left: 10px;
    height:30px;
    
}

.div_addr_query_reset {
	float:right;
	margin-top: 5px;
}

.div_addr_query_close {
	float:right;
	margin-top:5px;
	margin-right:15px;
	font-size: 18px;
	color: #009688;
}

.hotelorresidence {
	margin-top: 5px;
}

.div_HOTEL {
	width: 46%;
	height: 20px;
	border: solid thick #efefef;
	float: left;
	text-align: center;
}

.div_HOTEL.on{
	border: solid thick #D21736;
}

.div_RESIDENCE {
	width: 46%;
	height: 20px;
	border: solid thick #efefef;
	float: left;
	text-align: center;
}

.div_RESIDENCE.on{
	border: solid thick #D21736;
}


