<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderAddressMapper">

	<!-- 
		新增订单保险信息
		陈玉石
		2018年3月4日15:31:28 
	-->
	<insert id="insert" parameterType="OrderAddress" >
		insert into order_address (
			orderid,
			srcaddrtype,
			srcaddressid,
			srcprovid,
			srccityid,
			srcdistrictid,
			scrlandmark,
			srcprovname,
			srccityname,
			srcdistrictname,
			srcaddress,
			srcgps,
			destaddrtype,
			destaddressid,
			destprovid,
			destcityid,
			destdistrictid,
			destlandmark,
			destprovname,
			destcityname,
			destdistrictname,
			deststreetname,
			destaddress,
			destgps,
			addtime,
			remark)
		values (
			#{orderid},
			#{srcaddrtype},
			#{srcaddressid},
			#{srcprovid},
			#{srccityid},
			#{srcdistrictid},
			#{scrlandmark},
			#{srcprovname},
			#{srccityname},
			#{srcdistrictname},
			#{srcaddress},
			#{srcgps},
			#{destaddrtype},
			#{destaddressid},
			#{destprovid},
			#{destcityid},
			#{destdistrictid},
			#{destlandmark},
			#{destprovname},
			#{destcityname},
			#{destdistrictname},
			#{deststreetname},
			#{destaddress},
			#{destgps},
			now(),
			#{remark})
	</insert>
	
	<!-- 
		根据订单id查询地址信息
		zhangjj
	 -->
	<select id="findByOrderid" resultType="OrderAddress" parameterType="Integer" useCache="false">
		SELECT
			oAddress.id,
			oAddress.orderid,
			oAddress.srcaddrtype,
			oAddress.srcprovid,
			oAddress.srccityid,
			oAddress.srcdistrictid,
			oAddress.destprovid,
			oAddress.destcityid,
			oAddress.destdistrictid,
			oAddress.srcprovname,
			oAddress.srccityname,
			oAddress.srcdistrictname,
			oAddress.srcgps,
			oAddress.destaddrtype,
			oAddress.destprovname,
			oAddress.destcityname,
			oAddress.destdistrictname,
			oAddress.scrlandmark,
			oAddress.destlandmark,
			oAddress.srcaddress,
			oAddress.destaddress,
			oAddress.destgps
		FROM 
			order_address oAddress
		WHERE 1=1
		AND oAddress.orderid =#{orderid}
	</select>
	
	<!-- 查询历史地址 zhangjj -->
	<select id="findHistoryAddr" resultType="HistoryAddress" parameterType="pd" useCache="false">
			(SELECT
				oa.srcprovid provid,
				oa.srccityid cityid,
				oa.srcdistrictid districtid,
				oa.srcprovname provname,
				oa.srccityname cityname,
				oa.srcdistrictname districtname,
				oa.scrlandmark landmark,
				oa.srcaddress address,
				oa.srcgps gps
			FROM 
				cus_info ci,
				order_main om,
				order_address oa
			WHERE 1=1
				AND ci.id = om.cusid
				AND om.id = oa.orderid
				AND oa.srcprovid = #{provid}
				AND oa.srccityid = #{cityid}
				AND ci.openid = #{openid}
				AND oa.srcaddrtype = #{addresstype}
				ORDER BY oa.id desc
				LIMIT 3)
		UNION
			(SELECT
				oa.destprovid provid,
				oa.destcityid cityid,
				oa.destdistrictid districtid,
				oa.destprovname provname,
				oa.destcityname cityname,
				oa.destdistrictname districtname,
				oa.destlandmark landmark,
				oa.destaddress address,
				oa.destgps gps
			FROM 
				cus_info ci,
				order_main om,
				order_address oa
			WHERE 1=1
				AND ci.id = om.cusid
				AND om.id = oa.orderid
				AND oa.destprovid = #{provid}
				AND oa.destcityid = #{cityid}
				AND ci.openid = #{openid}
				AND oa.destaddrtype = #{addresstype}
				ORDER BY oa.id desc
				LIMIT 3)
	</select>
	
	<!-- 订单出发地信息修改 -->
	<update id="updateSendinfo" parameterType="pd">
		UPDATE
			order_address oa
		SET
			oa.srcaddrtype = #{srcaddrtype},
			oa.scrlandmark = #{scrlandmark},
			oa.srcaddress = #{srcaddress},
			oa.srcgps = #{srcgps}
		WHERE 1=1
			AND oa.orderid = #{orderid}
	</update>
	
	<!-- 订单目的地信息修改 -->
	<update id="updatedDestinfo" parameterType="pd"  >
		UPDATE
			order_address oa
		SET
			oa.destaddrtype = #{destaddrtype},
			oa.destlandmark = #{destlandmark},
			oa.destaddress = #{destaddress},
			oa.destgps = #{destgps}
		WHERE 1=1
			AND oa.orderid = #{orderid}
	</update>
	
	<!-- 订单目的地信息修改 -->
	<update id="updatedAddr" parameterType="OrderAddress"  >
		UPDATE
			order_address oa
		SET
			<if test="srcaddrtype !=null and srcaddrtype != ''">
				oa.srcaddrtype = #{srcaddrtype},
			</if>
			<if test="scrlandmark !=null and scrlandmark != ''">
				oa.scrlandmark = #{scrlandmark},
			</if>
			<if test="srcaddress !=null and srcaddress != ''">
				oa.srcaddress = #{srcaddress},
			</if>
			<if test="srcgps !=null and srcgps != ''">
				oa.srcgps = #{srcgps},
			</if>
			<if test="destaddrtype !=null and destaddrtype != ''">
				oa.destaddrtype = #{destaddrtype},
			</if>
			<if test="destlandmark !=null and destlandmark != ''">
				oa.destlandmark = #{destlandmark},
			</if>
			<if test="destaddress !=null and destaddress != ''">
				oa.destaddress = #{destaddress},
			</if>
			<if test="destgps !=null and destgps != ''">
				oa.destgps = #{destgps},
			</if>
			oa.id = #{id}
		WHERE 1=1
			AND oa.id = #{id}
	</update>
	
</mapper>

