<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderStatusTrailMapper">

	<select id="orderStatusTrailListPage" resultType="pd"
		parameterType="page" useCache="false">
		select ost.id,
		ost.statuname,
		ost.addtime,
		ost.operator,
		ost.spendtime
		from order_status_trail ost
		<if test="pd.id != null and pd.id != ''">
			and ost.orderid =#{ost.id}
		</if>
		order by ost.addtime desc
	</select>

</mapper>

