<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="InvitationCodeInfoMapper" >
  <resultMap id="BaseResultMap" type="InvitationCodeInfo" >
    <id column="id" property="id" />
    <result column="cusid" property="cusid" />
    <result column="invitename" property="invitename" />
    <result column="invitecode" property="invitecode"/>
    <result column="addtime" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cusid, invitename, invitecode, addtime
  </sql>
  
  <!-- 邀请码修改  -->
  <update id="updateInvitation" parameterType="pd" >
    update invitation_code_info
    set cusid = #{modelCusid},
      invitename = #{modelInvitename},
      invitecode = #{modelInvitecode} 
    where id = #{modelId} 
  </update>
  
  <!-- 邀请码核对  -->
  <select id="checkInfo" resultType="InvitationCodeInfo">
    select 
    <include refid="Base_Column_List" />
    from invitation_code_info
    where invitecode = #{modelInvitecode} and invitename = #{modelInvitename} and cusid = #{modelCusid} 
  </select>
  
  <!-- 邀请码新增  -->
  <insert id="insertCode" parameterType="InvitationCodeInfo" >
    insert into invitation_code_info (cusid, invitename, 
      invitecode, addtime)
    values (#{modelCusid}, #{modelInvitename}, 
      #{modelInvitecode},now())
  </insert>
  
  <!-- 邀请码列表查询  -->
  <select id="invitationlistPage" parameterType="page" resultType="pd">
  	select 
    <include refid="Base_Column_List" />
    from invitation_code_info where 1=1 
    <if test="pd.invitecode !=null and pd.invitecode != ''">
		and invitecode like CONCAT('%',#{pd.invitecode},'%') 
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invitation_code_info
    where id = #{id}
  </delete>
  <insert id="insertSelective" parameterType="InvitationCodeInfo" >
    insert into invitation_code_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cusid != null" >
        cusid,
      </if>
      <if test="invitename != null" >
        invitename,
      </if>
      <if test="invitecode != null" >
        invitecode,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="cusid != null" >
        #{cusid},
      </if>
      <if test="invitename != null" >
        #{invitename},
      </if>
      <if test="invitecode != null" >
        #{invitecode},
      </if>
      <if test="addtime != null" >
        #{addtime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="InvitationCodeInfo" >
    update invitation_code_info
    <set >
      <if test="cusid != null" >
        cusid = #{cusid},
      </if>
      <if test="invitename != null" >
        invitename = #{invitename},
      </if>
      <if test="invitecode != null" >
        invitecode = #{invitecode},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>