<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SmsIdentifyingInfoMapper" >
  <resultMap id="BaseResultMap" type="SmsIdentifyingInfo" >
    <id column="id" property="id" />
    <result column="cusid" property="cusid" />
    <result column="userid" property="userid" />
    <result column="ip" property="ip" />
    <result column="type" property="type" />
    <result column="smsmsg" property="smsmsg" />
    <result column="addtime" property="addtime" />
    <result column="mobile" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cusid, userid, ip, type, smsmsg, addtime, mobile
  </sql>
  
  <!-- 短信验证码查询   -->
  <select id="smsIdentifylistPage" resultType="pd" parameterType="page" >
    select 
    <include refid="Base_Column_List" />
    from sms_identifying_info where 1=1 
    <if test="pd.mobile !=null and pd.mobile != ''">
		and mobile like CONCAT('%',#{pd.mobile},'%') 
	</if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sms_identifying_info
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sms_identifying_info
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="SmsIdentifyingInfo" >
    insert into sms_identifying_info (id, cusid, userid, 
      ip, type, smsmsg, addtime, 
      mobile)
    values (#{id}, #{cusid}, #{userid}, 
      #{ip}, #{type}, #{smsmsg}, #{addtime}, 
      #{mobile})
  </insert>
  <insert id="insertSelective" parameterType="SmsIdentifyingInfo" >
    insert into sms_identifying_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cusid != null" >
        cusid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="smsmsg != null" >
        smsmsg,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="cusid != null" >
        #{cusid},
      </if>
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="ip != null" >
        #{ip},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="smsmsg != null" >
        #{smsmsg},
      </if>
      <if test="addtime != null" >
        #{addtime},
      </if>
      <if test="mobile != null" >
        #{mobile},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="SmsIdentifyingInfo" >
    update sms_identifying_info
    <set >
      <if test="cusid != null" >
        cusid = #{cusid},
      </if>
      <if test="userid != null" >
        userid = #{userid},
      </if>
      <if test="ip != null" >
        ip = #{ip},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="smsmsg != null" >
        smsmsg = #{smsmsg},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="SmsIdentifyingInfo" >
    update sms_identifying_info
    set cusid = #{cusid},
      userid = #{userid},
      ip = #{ip},
      type = #{type},
      smsmsg = #{smsmsg},
      addtime = #{addtime},
      mobile = #{mobile}
    where id = #{id}
  </update>
</mapper>