<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CounterServiceCenterMapper">
	<!-- 城市信息记录列表查询-页面  -->
	<select id="findServiceCenterlistPage" resultType="pd" parameterType="page" useCache="false" >
	    SELECT
	    	csc.id,
	    	csc.type,
	    	(select codename from base_config bc where bc.codeType ='SERVICECENTERTYPE' and bc.code= csc.type) typeDesc,
	    	csc.servicecentername,
	    	csc.servicecentercode,
	    	csc.provid,
	    	(select name from area_prov ap where ap.id = csc.provid) providDesc,
	    	csc.cityid,
	    	(select name from area_city ac where ac.id = csc.cityid) cityidDesc,
	    	csc.regionid,
	    	(select rdm.regionname from region_delivery_man rdm where rdm.id=csc.regionid) regioname,
	    	csc.address,
	    	csc.linkman,
	    	csc.linkphone,
	    	csc.isvalid,
			(select codename from base_config bc where bc.codetype = 'ISVALID' and bc.code = csc.isvalid) isvalidDesc,
			csc.addtime,
			csc.modifytime
		FROM
			counter_service_center csc
		where 1=1
		<if test="pd.servicecenterid != null and pd.servicecenterid != ''">
           and csc.id = #{pd.servicecenterid}
        </if>
		<if test="pd.type != null and pd.type != '' and pd.type != '-1'">
           and csc.type = #{pd.type}
        </if>
		<if test="pd.servicecentercode != null and pd.servicecentercode != '' and pd.servicecentercode != '-1'">
           and csc.servicecentercode = #{pd.servicecentercode}
        </if>
		<if test="pd.provid != null and pd.provid != '' and pd.provid != '-1'">
           and csc.provid = #{pd.provid}
        </if>
        <if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
           and csc.cityid = #{pd.cityid}
        </if>
		<if test="pd.loginperson_provid != null and pd.loginperson_provid != '' and pd.loginperson_provid != '-1'">
           and csc.provid = #{pd.loginperson_provid}
        </if>
        <if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
           and csc.cityid = #{pd.cityid}
        </if>
        ORDER BY csc.modifytime,addtime desc
	</select>
	
	<!-- 修改快递员信息 -->
	<update id="updateCounterServiceCenterById" parameterType="pd">
		update 
			counter_service_Center 
		set
			type =  #{type},
			servicecentername = #{servicecentername},
			servicecentercode = #{servicecentercode},
			provid = #{provid},
			cityid = #{cityid},
			regionid = #{regionid},
			address = #{address},
			linkman = #{linkman},
			linkphone = #{linkphone},
			isvalid = #{isvalid}
		where id = #{id}
	</update>
	
	<!-- 查询所有  -->
	<select id="findAll" resultType="pd" parameterType="pd" useCache="false" >
        SELECT
	    	id,
	    	type,
	    	servicecentername,
	    	servicecentercode,
	    	provid,
	    	cityid,
	    	regionid,
	    	(select rdm.regionname from region_delivery_man rdm where rdm.id=regionid) regionanme,
	    	address,
	    	linkman,
	    	linkphone,
	    	isvalid,
	    	addtime,
	    	modifytime,
	    	gps
	    FROM 
	    	counter_service_Center
	    WHERE 1=1
	    	AND provid = #{loginperson_provid}
	    	AND cityid = #{loginperson_cityid}
	</select>
	
	<!-- 新增柜台服务中心 -->
	<insert id="saveServiceCenter" parameterType="pd">
		insert into counter_service_Center(
			 type,
			 servicecentername,
			 servicecentercode,
			 provid,
			 cityid,
			 regionid,
			 address,
			 linkman,
			 linkphone,
			 isvalid,
			 createdby,
			 addtime,
			 modifiedby,
			 modifytime)
		values (
			#{type},
		    #{servicecentername},
			#{servicecentercode},
			#{provid},
		    #{cityid},
		    #{regionid},
			#{address},
			#{linkman},
			#{linkphone},
			'Y',
			#{createdby},
			now(),
			#{modifiedby},
			now())
	</insert>
	
	<!-- 修改快递员信息 -->
	<update id="updateCounterServiceStatus" parameterType="pd">
		update 
			counter_service_Center 
		set
		   status = #{status},
			modifytime = now()
		where id = #{id}
	</update>
	
	
	<!-- 
		根据登陆人员id 查询 机场机场柜台信息
		zhangjj
	  -->
	<select id="findByUserid" resultType="CounterServiceCenter" parameterType="Integer" useCache="false" >
	    SELECT
	    	csc.id,
	    	csc.servicecentername,
	    	csc.servicecentercode,
	    	csc.provid,
	    	(select name from area_prov ap where ap.id = csc.provid) provname,
	    	csc.cityid,
	    	(select name from area_city ac where ac.id = csc.cityid) cityname,
	    	csc.address,
	    	csc.linkman,
	    	csc.linkphone,
	    	csc.remark,
	    	csc.gps
		FROM
			counter_service_center csc,
			user_service_center usc
		where 1=1
		AND usc.servicecenterid = csc.id
		AND usc.userid = #{userid}
		AND csc.isvalid = 'Y'
        ORDER BY csc.id desc
        LIMIT 1
	</select>
	
	<!-- 
	
		zhangjj
	  -->
	<select id="findByid" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	csc.id,
	    	csc.type,
	    	(select codename from base_config bc where bc.codeType ='SERVICECENTERTYPE' and bc.code= csc.type) typeDesc,
	    	csc.servicecentername,
	    	csc.servicecentercode,
	    	csc.provid,
	    	(select name from area_prov ap where ap.id = csc.provid) providDesc,
	    	csc.cityid,
	    	(select name from area_city ac where ac.id = csc.cityid) cityidDesc,
	    	csc.address,
	    	csc.linkman,
	    	csc.linkphone
		FROM
			counter_service_center csc
		where 1=1
		AND csc.id = #{id}
        ORDER BY csc.id desc
        LIMIT 1
	</select>

	<!-- 机场柜台查询 -->
	<select id="findByProvidAndCityid" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	csc.id,
	    	csc.type,
	    	csc.servicecentername,
	    	csc.servicecentercode,
	    	csc.address,
	    	csc.linkman,
	    	csc.linkphone,
	    	csc.gps,
	    	csc.businesstimeflag,
	    	csc.remark
		FROM
			counter_service_center csc
		where 1=1
        AND csc.provid = #{provid}
        AND csc.cityid = #{cityid}
	</select>
	
	
	<select id="findUseridByServicecenterid" resultType="Integer" parameterType="Integer" useCache="false" >
	    SELECT
	    	userid
		FROM
			user_service_center usc
		WHERE 1=1
			AND usc.servicecenterid = #{servicecenterid}
	</select>
	
	<!-- 
    	机场当前位置 zhangjj
     -->
	<select id="findServiceCentergps" resultType="pd"  parameterType="pd" useCache="false">
		SELECT
			csc.servicecentername,
			csc.address,
			csc.gps
		FROM
			counter_service_center csc
		WHERE 1 = 1
		AND csc.provid = #{srcprovid}
		AND csc.cityid = #{srccityid}
	</select>
</mapper>