<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RegionTransitCenterMapper">
	<!-- 城市信息记录列表查询-页面  -->
	<select id="regionTransitCenterlistPage" resultType="pd" parameterType="page" useCache="false" >
	    SELECT
	    	rtc.id,
	    	rtc.provid,
	    	(select name from area_prov ap where ap.id = rtc.provid) provDesc,
	    	rtc.cityid,
	    	(select name from area_city ac where ac.id = rtc.cityid) cityDesc,
	    	rtc.transitid,
	    	rtc.timespan,
	    	(select name from transit_center tc where tc.id = rtc.transitid) transitidDesc,
	    	rtc.gps
		FROM
			region_transit_center rtc
		where 1=1
		<if test="pd.provid != null and pd.provid != '' and pd.provid != '-1'">
           and rtc.provid = #{pd.provid}
        </if>
        <if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
           and rtc.cityid = #{pd.cityid}
        </if>
	</select>
	
    <!-- 集散中心区域查询查询  -->
	<select id="findAllRegionTransitCenter" resultType="pd" useCache="false" >
	   	   SELECT
	    	rtc.id,
	    	rtc.provid,
	    	(select name from area_prov ap where ap.id = rtc.provid) provDesc,
	    	rtc.cityid,
	    	(select name from area_city ac where ac.id = rtc.cityid) cityDesc,
	    	rtc.transitid,
	    	(select name from transit_center tc where tc.id = rtc.transitid) regionname,
	    	rtc.gps,
	    	rtc.remark
		FROM
			region_transit_center rtc
        where 1=1
           and rtc.provid = #{loginperson_provid}
           and rtc.cityid = #{loginperson_cityid}
	  union all
	 SELECT
	    	rdm.id,
	    	rdm.provid,
	    	(select name from area_prov ap where ap.id = rdm.provid) provDesc,
	    	rdm.cityid,
	    	(select name from area_city ac where ac.id = rdm.cityid) cityDesc,
	    	rdm.transitid,
	    	rdm.regionname	regionname,
	    	rdm.gps,
	    	rdm.remark
		FROM
			region_delivery_man rdm
		where 1=1
           and rdm.provid = #{loginperson_provid}
           and rdm.cityid = #{loginperson_cityid}	
	</select>
	
	<!-- 检查集散中心是否划分  -->
	<select id="checkRegionTransitExist" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	rtc.id,
	    	rtc.provid,
	    	(select name from area_prov ap where ap.id = rtc.provid) provDesc,
	    	rtc.cityid,
	    	(select name from area_city ac where ac.id = rtc.cityid) cityDesc,
	    	rtc.transitid,
	    	rtc.timespan,
	    	(select name from transit_center tc where tc.id = rtc.transitid) transitidDesc,
	    	rtc.gps,
	    	rtc.remark
		FROM
			region_transit_center rtc
		WHERE 1=1
		<if test="transitid != null and transitid != '' and transitid != '-1'">
           and rtc.transitid = #{transitid}
        </if>
	</select>
	
	<!-- 集散中心划分添加 -->
	<insert id="saveRegionTransit" parameterType="pd">
	   <selectKey keyProperty="id" resultType="int">
			select
			LAST_INSERT_ID()
		</selectKey>
		insert into region_transit_center (
			provid,
			cityid,
			transitid,
			timespan,
			gps,
			remark)
		values ( 
			#{provid},
			#{cityid},
			#{transitid},
			#{timespan},
			#{gps},
			#{remark})
	</insert>
	
	
	<!-- 根据id查询集散中心  -->
	<select id="findRegionTransitByid" resultType="pd" parameterType="pd" useCache="false" >
	    SELECT
	    	rtc.id,
	    	rtc.provid,
	    	(select name from area_prov ap where ap.id = rtc.provid) provDesc,
	    	rtc.cityid,
	    	(select name from area_city ac where ac.id = rtc.cityid) cityDesc,
	    	rtc.transitid,
	    	rtc.timespan,
	    	(select name from transit_center tc where tc.id = rtc.transitid) transitidDesc,
	    	rtc.gps,
	    	rtc.remark
		FROM
			region_transit_center rtc
		WHERE 1=1
		<if test="id != null and id != ''">
           and rtc.id = #{id}
        </if>
	</select>
	
	<!-- 修改集散中心 -->
	<update id="updateRegionTransit" parameterType="pd">
		update 
			region_transit_center 
		set
			provid = #{provid},
			cityid = #{cityid},
			transitid = #{transitid},
			timespan = #{timespan},
			gps = #{gps},
			remark = #{remark}
		where id = #{id}
	</update>
	
	<!-- 修改集散中心 -->
	<update id="deleteRegionTransit" parameterType="pd">
		delete from 
			region_transit_center  
		where id = #{id}
	</update>
	
</mapper>