<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TransitCenterMapper">
	<!-- 查询表单 -->
	<select id="findTransitCenterlistPage" parameterType="page" resultType="pd" useCache="false">
		select 
			tc.id,
			tc.name,
			tc.provid,
			(select name from area_prov ap where ap.id = tc.provid) provDesc,
			tc.cityid,
			(select name from area_city ac where ac.id = tc.cityid) cityDesc,
			tc.address,
			tc.linkman,
			tc.linkphone,
			tc.isvalid,
			(select codename from base_config bc where bc.codetype = 'ISVALID' and bc.code = tc.isvalid) isvalidDesc
		from
			transit_center tc
		WHERE 1=1
		<if test="pd.transitCenterid != null and pd.transitCenterid != '' and pd.transitCenterid != '-1'">
           and tc.id = #{pd.transitCenterid}
        </if>
		<if test="pd.provid != null and pd.provid != '' and pd.provid != '-1'">
           and tc.provid = #{pd.provid}
        </if>
        <if test="pd.cityid != null and pd.cityid != '' and pd.cityid != '-1'">
           and tc.cityid = #{pd.cityid}
        </if>
        order by tc.modifytime,tc.addtime desc
	</select>
	
	<!-- 根据id查询 -->
	<select id="findTransitCenterById" parameterType="pd" resultType="pd" useCache="false">
		select 
			tc.id,
			tc.name,
			tc.provid,
			tc.cityid,
			tc.address,
			tc.linkman,
			tc.linkphone,
			tc.isvalid
		from
			transit_center tc
		WHERE tc.id = #{transitCenterid}
	</select>
	
	<!-- 新增集散中心 -->
	<insert id="saveTransitCenter" parameterType="pd">
		insert into transit_center(
			 provid,
			 cityid,
			 name,
			 address,
			 linkman,
			 linkphone,
			 isvalid,
			 createdby,
			 addtime,
			 modifiedby,
			 modifytime)
		values (
		    #{provid},
		    #{cityid},
			#{name},
			#{address},
			#{linkman},
			#{linkphone},
			'Y',
			#{createdby},
			now(),
			#{createdby},
			now())
	</insert>

	<!-- 修改集散中心 -->
	<update id="updateTransitCenterById" parameterType="pd">
		update 
			transit_center 
		set
			provid = #{provid},
			cityid = #{cityid},
			name = #{name},
			address = #{address},
			linkman = #{linkman},
			linkphone = #{linkphone},
			isvalid = #{isvalid},
			modifytime = now()
		where id = #{id}
	</update>
          
    <!-- 查询所有 -->
	<select id="findAll" resultType="pd" useCache="false">
		select * from transit_center trc
		where 1=1
			AND trc.provid = #{loginperson_provid}
			AND trc.cityid = #{loginperson_cityid}
	</select>
	
	<!--
		 查询表单
		 zhangjj
	 -->
	<select id="findByUserid" parameterType="pd" resultType="pd" useCache="false">
		select 
			tc.id,
			tc.name,
			tc.provid,
			(select name from area_prov ap where ap.id = tc.provid) provDesc,
			tc.cityid,
			(select name from area_city ac where ac.id = tc.cityid) cityDesc,
			tc.address,
			tc.linkman,
			tc.linkphone
		from
			transit_center tc,
			user_transit_center utc
		WHERE 1=1
		AND utc.transitid = tc.id
        AND utc.userid = #{userid}
        ORDER BY tc.id desc
        limit 1
	</select>
	
	<!--
		 查询表单
		 zhangjj
	 -->
	<select id="findByProvidAndCityid" parameterType="pd" resultType="pd" useCache="false">
		select 
			tc.id,
			tc.name,
			tc.address,
			tc.linkman,
			tc.linkphone
		from
			transit_center tc
		WHERE 1=1
        AND tc.provid =#{provid}
        AND tc.cityid = #{cityid}
	</select>
	
	<!--
		 查询userid
		 zhangjj
	 -->
	<select id="findUseridByid" parameterType="Integer" resultType="Integer" useCache="false">
		SELECT
		 	userid
		FROM
			user_transit_center utc
		WHERE 1=1
       		AND utc.transitid = #{transitid}
	</select>
	
	<!-- 集散中心当前位置 zhangjj --> 
	<select id="findTransitCentergps" resultType="pd"  parameterType="pd" useCache="false">
		SELECT
			tc.name,
			tc.address,
			tc.gps
		FROM
			transit_center tc
		WHERE 1 = 1
		AND tc.provid = #{srcprovid}
		AND tc.cityid = #{srccityid}
	</select>
	
</mapper>