<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BaseConfigMapper">
	<select id="baseConfiglist" resultType="bg" parameterType="bg" useCache="false" >
	     SELECT
			codetype,
			code,
			codename,
			remark
		FROM
			base_config
		WHERE 1=1
	    <if test="codeType !=null and codeType != ''"> 
 			and codeType = #{codeType} 
 	    </if>
 	    <if test="code !=null and code != ''"> 
 			and code = #{code} 
 	    </if> 
	</select>
	
	<!-- 获取所有基础配置数据 -->
	<select id="findAll" resultType="bg" parameterType="pd" useCache="false" >
	     SELECT
			codetype,
			code,
			codename,
			remark
		FROM
			base_config
		WHERE 1=1
	</select>
	
	<insert id="saveBaseConfig" parameterType="bg">
	    insert into base_config
	    (
	        codetype,
			code,
			codename,
			remark
	    ) value
	   (
	       #{codeType},
	       #{code},
	       #{codename},
	       #{remark}
	   )
	</insert>
	
	<select id="findBycodeTypeAndCode" resultType="pd" parameterType="pd" useCache="false" >
	     SELECT
			codetype,
			code,
			codename,
			remark
		FROM
			base_config
		WHERE 1=1
 		AND codeType = #{codeType} 
 		AND code = #{code} 
	</select>
	<select id="findBycodeType" resultType="bg" parameterType="pd" useCache="false" >
	     SELECT
			codetype,
			code,
			codename,
			remark
		FROM
			base_config
		WHERE 1=1
 		AND codeType = #{codeType} 
	</select>
</mapper>