<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AreaRoadInfoMapper" >
  <resultMap id="AreaRoadInfo" type="AreaRoadInfo" >
    <id column="id" property="id" />
    <result column="provid" property="provid" />
    <result column="cityid" property="cityid" />
    <result column="districtid" property="districtid" />
    <result column="name" property="name" />
    <result column="isvalid" property="isvalid" />
  </resultMap>
  
  <!-- 核对name -->
  <select id="checkRoadInfo" parameterType="pd" resultType="AreaRoadInfo">
  	select * from area_road where provid=#{modelProvID} and cityid=#{modelCityID} and districtid=#{modelDistrictID} and name=#{modelName} 
  </select>
  
  <!-- 修改区县信息 -->
  <update id="updateRoad" parameterType="pd" >
  	update area_road set provid=#{modelProvID},cityid=#{modelCityID},districtid=#{modelDistrictID},name=#{modelName},isvalid = #{isvalidV} where id = #{modelId} 
  </update>
  
  <!-- 新增区县  -->
  <insert id="insertRoad" parameterType="pd">
  	insert into area_road 
  	(id,provid,cityid,districtid,name,isvalid) values 
  	(#{modelId},#{modelProvID},#{modelCityID},#{modelDistrictID},#{modelName},#{isvalidV})
  </insert>
  
  
  <!-- 核对id -->
  <select id="checkID" parameterType="pd" resultType="AreaRoadInfo">
  	select * from area_road where id = #{id}
  </select>
  
  <!-- 修改状态  -->
  <update id="changeStatus" parameterType="pd" >
  	update area_road set isvalid = #{isvalidV} where id = #{id} 
  </update>
  
  <select id="roadlistPage" resultType="pd" parameterType="page" useCache="false">
    select r.*,d.name as districtName,c.name as cityName, p.name as provName from area_road r left join area_district d on r.districtid = d.id left join area_city c on r.cityid = c.id left join area_prov p on r.provid = p.id where 1=1 
	<if test="pd.name !=null and pd.name != ''">
		and r.name like CONCAT('%',#{pd.name},'%') 
	</if>
	<if test="pd.provid !=null and pd.provid != '' and pd.provid != '-1'">
		and r.provid = ${pd.provid}
	</if>
	<if test="pd.cityid !=null and pd.cityid != '' and pd.cityid != '-1'">
		and r.cityid = ${pd.cityid}
	</if>
	<if test="pd.districtid !=null and pd.districtid != '' and pd.districtid != '-1'">
		and r.districtid = ${pd.districtid}
	</if>
	<if test="pd.isvalid !=null and pd.isvalid != '' and pd.isvalid !='-1' ">
		and r.isvalid = #{pd.isvalid}
	</if>
  </select>
  
  <select id="findAll" resultType="pd" useCache="false">
    select * from area_road 
  </select>
  
</mapper>