<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AreaDistrictInfoMapper" >
  <resultMap id="AreaDistrictInfo" type="AreaDistrictInfo" >
    <id column="id" property="id" />
    <result column="provid" property="provid" />
    <result column="cityid" property="cityid" />
    <result column="name" property="name" />
    <result column="isvalid" property="isvalid" />
  </resultMap>
  
  <!-- 根据name查询  -->
  <select id="getByModelDistrictID" parameterType="pd" resultType="AreaDistrictInfo">
  	select * from area_district where name = #{modelDistrictID}
  </select>
  
  <!-- 核对name -->
  <select id="checkDistrictInfo" parameterType="pd" resultType="AreaDistrictInfo">
  	select * from area_district where provid = #{modelProvID} and cityid=#{modelCityID} and name=#{modelName} 
  </select>
  
  <!-- 修改区县信息 -->
  <update id="updateDistrict" parameterType="pd" >
  	update area_district set provid=#{modelProvID},cityid=#{modelCityID},name=#{modelName},isvalid = #{isvalidV} where id = #{modelId} 
  </update>
  
  <!-- 新增区县  -->
  <insert id="insertDistrict" parameterType="pd">
  	insert into area_district 
  	(id,provid,cityid,name,isvalid) values 
  	(#{modelId},#{modelProvID},#{modelCityID},#{modelName},#{isvalidV})
  </insert>
  
  
  <!-- 核对id -->
  <select id="checkID" parameterType="pd" resultType="AreaDistrictInfo">
  	select * from area_district where id = #{id}
  </select>
  
  <!-- 修改状态  -->
  <update id="changeStatus" parameterType="pd" >
  	update area_district set isvalid = #{isvalidV} where id = #{id} 
  </update>
  
  <select id="districtlistPage" resultType="pd" parameterType="page" useCache="false">
    select d.*, c.name as cityName,p.name as provName from area_district d left join area_city c on d.cityid = c.id left join area_prov p on d.provid = p.id where 1=1 
	<if test="pd.name !=null and pd.name != ''">
		and d.name like CONCAT('%',#{pd.name},'%') 
	</if>
	<if test="pd.provID !=null and pd.provID != '' and pd.provID != '-1'">
		and d.provid = ${pd.provID}
	</if>
	<if test="pd.cityID !=null and pd.cityID != '' and pd.cityID != '-1'">
		and d.cityid = ${pd.cityID}
	</if>
	<if test="pd.isvalid !=null and pd.isvalid != '' and pd.isvalid !='-1' ">
		and d.isvalid = #{pd.isvalid}
	</if>
  </select>
  
  <select id="findAll" resultType="pd" useCache="false">
    select * from area_district 
  </select>
  
</mapper>