<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AreaCityInfoMapper" >
  <resultMap id="AreaCityInfo" type="AreaCityInfo" >
    <id column="id" property="id" />
    <result column="provid" property="provid" />
    <result column="name" property="name" />
    <result column="isvalid" property="isvalid" />
  </resultMap>
  
  <!-- 获取城市对象  -->
  <select id="getByModelCityName" parameterType="pd" resultType="AreaCityInfo">
  	select * from area_city where name = #{modelCityID}
  </select>
  
  <!-- 获取城市对象  -->
  <select id="checkInfoByName" parameterType="pd" resultType="AreaCityInfo">
  	select * from area_city where name = #{modelName} and provid = #{modelProvID} 
  </select>
  
  <!-- 获取城市对象  -->
  <select id="getByName" parameterType="pd" resultType="AreaCityInfo">
  	select * from area_city where name = #{name}
  </select>
  
  <!-- 修改城市信息 -->
  <update id="updateCity" parameterType="pd" >
  	update area_city set provid=#{modelProvID}, name=#{modelName}, isvalid = #{isvalidV} where id = #{modelId} 
  </update>
  
  <!-- 新增城市  -->
  <insert id="insertCity" parameterType="pd">
  	insert into area_city 
  	(id,provid,name,isvalid) values 
  	(#{modelId},#{modelProvID},#{modelName},#{isvalidV})
  </insert>
  
  
  <!-- 核对id -->
  <select id="checkID" parameterType="pd" resultType="AreaCityInfo">
  	select * from area_city where id = #{id}
  </select>
  
  <!-- 修改状态  -->
  <update id="changeStatus" parameterType="pd" >
  	update area_city set isvalid = #{isvalidV} where id = #{id} 
  </update>
  
  <select id="citylistPage" resultType="pd" parameterType="page" useCache="false">
    select c.*,p.name as provName from area_city c left join area_prov p on p.id = c.provid where 1=1 
	<if test="pd.name !=null and pd.name != ''">
		and c.name like CONCAT('%',#{pd.name},'%') 
	</if>
	<if test="pd.provID !=null and pd.provID != '' and pd.provID != '-1'">
		and c.provid = ${pd.provID}
	</if>
	<if test="pd.isvalid !=null and pd.isvalid != '' and pd.isvalid !='-1' ">
		and c.isvalid = #{pd.isvalid}
	</if>
  </select>
  
  
  <select id="findAll" resultType="pd" useCache="false">
    select * from area_city 
  </select>
  
   <select id="findCityByProvid" resultType="AreaCityInfo" parameterType="AreaCityInfo" useCache="false">
	    select 
	    	* 
	    from 
	    	area_city
	    WHERE 1=1
	    <if test="provid !=null and provid != '' and provid !='-1' ">
			and provid = ${provid}
		</if>	 
  </select>
  
  <!-- 更新城市中心点时所用  zhangjj-->
  <select id="findProvname" resultType="pd" useCache="false">
	    select 
	    	c.id cityid,
	    	CONCAT(p.name,c.name) provnameandcityname 
	    from 
	    	area_prov p,
	    	area_city c
	    WHERE 1=1
	    	AND p.id = c.provid
  </select>
  
  <!-- 修改城市中心点 zhangjj  -->
  <update id="updateGps" parameterType="AreaCityInfo" >
	 	UPDATE
	 		area_city
	 	SET
	 		centralpointgps = #{centralpointgps}
	 	WHERE id = #{id} 
  </update>
  
   <!-- 根据cityid查询 市级区域中心点gps -->
  <select id="findCentralpointgpsByid" parameterType="String" resultType="String">
  	SELECT
    	centralpointgps
   	FROM 
   		area_city
   	WHERE 1=1 
   		AND id = #{id}
  </select>
  
</mapper>